@mixin transition($speed, $styles) {
  -webkit-transition: $styles $speed ease-in-out;
  -moz-transition: $styles $speed ease-in-out;
  -ms-transition: $styles $speed ease-in-out;
  -o-transition: $styles $speed ease-in-out;
  transition: $styles $speed ease-in-out;
}
// @mixin shadow($color) {
//   text-shadow: 0 0 10px $color;
// }
